.aboutInfo {
    color: black; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,.3)
  
  }

.about-me {
max-width: 1000px;
margin-left: auto;
margin-right: auto;
background-color: rgba(255,255,255,.3);

position: relative;
text-align: center;

}

.aboutBackground {
 align-self: center;
 padding: 1%;
 position: relative;
 opacity: 0.85;
};

